html { 
  overflow-y: scroll;
}

body {
  background-color: #0F0F0F;
  font-family: 'Inter', sans-serif;
  font-size: 0.875rem;
  line-height: 1.125rem;
  color: rgba(240,240,240,1);
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
}

.content {
  display: flex;
  flex-direction: column;
  max-width: 388px;
  margin: auto;
  padding-bottom: 48px;
}

.intro {
  padding-bottom: 48px;
}

.links {
  display: flex;
  gap: 24px;
}

.link {
  display: flex;
  align-items: center;
  gap: 2px;
}

a {
  text-decoration: none;
  color: rgba(240,240,240,1);
  transition: 0.2s ease-in;
}

a:hover {
  color: rgba(240,240,240,0.7);
}

em {
  font-family: 'Source Serif Pro', serif;
  font-style: italic;
  font-size: 0.96875rem;
  line-height: 1.125rem;
}

@media screen and (max-width: 600px) {

  body {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    line-height: 1.4375rem;
  }

  .content {
    margin-left: 24px;
    margin-right: 24px;
    padding-bottom: 0px;
  }

  .links {
    flex-direction: column;
    gap: 32px;
  }

  em {
    font-size: 1.25rem;
    line-height: 1.4375rem;
  }
}
