html { 
  overflow-y: scroll;
}

body {
  background-color: rgba(212,212,216,1);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1rem;
}

.layout {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 104px auto 120px;
  column-gap: 24px;
  margin: 0 auto;
  max-width: 800px;
  height: 100vh;
}

.name {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  padding-top: 48px;
  font-weight: 500;
}

.work { 
  grid-column-start: 4;
  grid-column-end: 9;
  grid-row-start: 1; 
  padding-top: 48px;
}

.email{ 
  grid-column-start: 12;
  grid-row-start: 1; 
  padding-top: 48px;
  text-align: right;
}

.title { 
  grid-column-start: 4;
  grid-column-end: 10;
  grid-row-start: 2;
  align-self: center;
}

h1{
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
}

a {
  text-decoration: none;
  color: rgba(0,0,0,1);
  transition: 0.2s ease-in;
}

a:hover {
  color: rgba(0,0,0,0.7);
}

li {
  margin-bottom: 16px;
}

@media screen and (max-width: 1023px) {

  .layout {
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 64px auto 64px;
    margin: 0 8%;
  }
  
  .name {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
  }
  
  .work { 
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
  }
  
  .email{ 
    grid-column-start: 8;
    grid-row-start: 1;
  }
  
  .title { 
    grid-column-start: 3;
    grid-column-end: 7;
    grid-row-start: 2;
    align-self: center;
  }
}

@media screen and (max-width: 600px) {

  .layout {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 64px auto 64px;
    margin: 0 8%;
  }
  
  .name {
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 1;
    padding-top: 40px;
  }
  
  .work { 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 3;
    padding-top: 0px;
  }
  
  .email{ 
    grid-column-start: 4;
    grid-row-start: 3;
    padding-top: 0px;
  }
  
  .title { 
    grid-column-start: 1;
    grid-column-end: 5;
    grid-row-start: 2;
    align-self: center;
  }

  a {
    display: block;
  }
  
  li {
    float: left;
  }
  
  li a {
    margin-right: 24px;
  }
}
